/* Define una paleta de colores con variantes para fondos, textos, y estados de interacción.
Fondos:
Primario: #007ACC (Azul)
Secundario: #005FA3 (Azul Oscuro)
Terciario: #E5F6FF (Azul Claro)
Textos:
Texto Primario: #333333 (Gris Oscuro)
Texto Secundario: #666666 (Gris Medio)
Texto Inactivo: #999999 (Gris Claro)
Fondo: #FFFFFF (Blanco)
Bordes: #DDDDDD (Gris Pálido)
Estados:
Éxito: #28A745 (Verde)
Advertencia: #FFC107 (Amarillo)
Error: #DC3545 (Rojo)
2. Tipografía:
Establece una jerarquía tipográfica
Fuentes:
Fuente Principal: Roboto, sans-serif.
Fuente Secundaria: Montserrat, sans-serif.
Tamaños de Texto:
Título Principal: 24px, peso 700.
Título Secundario: 20px, peso 600.
Texto Regular: 16px, peso 400.
Texto Secundario: 14px, peso 400.
3. Espaciado:
Define reglas de espaciado y márgenes para mantener la consistencia.
Padding Interno en la Tarjeta: 16px en todos los lados.
Margen entre elementos: 8px entre el título y la descripción; 16px entre la descripción y el botón.
Espaciado Externo (margen entre tarjetas): 24px entre tarjetas.
4. Tamaños de Elementos:
Establece dimensiones mínimas y máximas para la tarjeta y sus componentes.
Ancho Mínimo de la Tarjeta: 300px.
Ancho Máximo de la Tarjeta: 400px.
Altura de la Imagen: Relación de aspecto 16:9, ajustable.
Altura del Botón: 48px.
5. Botones:
Diseña un conjunto de botones reutilizables con diferentes estados.
Botón Primario:
Color de Fondo: #007ACC.
Color de Texto: #FFFFFF.
Borde: None.
Radio del Borde: 8px.
Estado Hover: Fondo cambia a #005FA3.
Botón Secundario:
Color de Fondo: #FFFFFF.
Color de Texto: #007ACC.
Borde: 2px solid #007ACC.
Radio del Borde: 8px.
Estado Hover: Fondo cambia a #E5F6FF.
6. Iconografía:
Define un estilo de iconos que se debe seguir.
Estilo de Iconos:
Tamaño del Icono: 24px x 24px.
Color del Icono Primario: #007ACC.
Color del Icono Secundario: #333333. */
.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
.card {
    background-color: #e6f7ff;
    max-width: 300px;
    border-radius: 10px;
    border: solid #DDDDDD;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    transition: transform 0.3s ease;
}
button {
    align-items: center;
    height: 48px;
    width: 260px;
    background-color: #007ACC;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
}
.card a {
    text-decoration: none;
    color: #FFFFFF;
}
.card h2{
    font-size: 24px;
    font-family: 'Roboto';
}
.card p{
    font-size: 16px;
    font-family: 'Montserrat,sans-serif';
}